/* ----- */
/* Reset */
/* ----- */

:root {
  /* Mixin: Border Box HTML */
  /* Add border box to every element in your project. Used in your project root. */
  /* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

  --border-box-html {
    html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
  }
}
