/* ------ */
/* Tables */
/* ------ */

:root {

  /* Basic Table */
  --table-basic {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    margin: 1.5rem 0 3em; /* ? */
    position: relative;
    text-align: left;

    & th, & td {
      border: var(--default-border);
      padding: .5em 1em;
    }
  }

  /* Minimal Table */
  --table-minimal {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1.5rem 0 3em;  /* ? */
    max-width: 100%;
    width: 100%;
    border-radius: 0;

    & td, & th {
      line-height: var(--line-height);
      padding: .5em 1em;
    }

    & td {
      border-top: var(--default-border);
    }
  }

  /* Table utility: Zebra Stripes */
  --zebra-stripes {
    & tr:nth-child(odd) td {
      background: rgba(0,0,0,.03);
    }
  }

  /* Table utility: HOver rows */
  --hover-rows {
    & tr {
      @apply --transition;

      &:hover {
        background: rgba(0,0,0,.08);
      }
    }
  }

  /* Addtive mixin: Tables */
  --tables {
    table {
      @apply --table-basic
    }
  }
}
