/* --------- */
/* Utilities */
/* --------- */

:root {
  /* Debug - needs comment */

  --debug {
    border: 1px solid MediumPurple;

    & > * {
      border: 1px solid DarkKhaki;
    }

    & > * > * {
      border: 1px solid MediumTurquoise;
    }

    & > * > * > * {
      border: 1px solid LightSlateGray;
    }

    & > * > * > * > * {
      border: 1px solid LightBlue;
    }

    & > * > * > * > * > * {
      border: 1px solid MediumSlateBlue;
    }

    & > * > * > * > * > * > * {
      border: 1px solid DeepSkyBlue;
    }

    & > * > * > * > * > * > * > * {
      border: 1px solid DarkSeaGreen;
    }

    & img {
      border: 1px solid #f00;
      filter: hue-rotate(330deg) contrast(.75) saturate(6);
    }

    & img[alt] {
      border: 1px solid LimeGreen;
      filter: none
    }

    & img[alt=""] {
      border: 1px solid gold;
      filter: contrast(1) saturate(2)
    }

    & a {
      background: rgba(#f00, .1);
      border: 1px solid #f00;
    }

    & a[title] {
      background: none;
      border-color: LimeGreen;
    }

    & style {
      border: block;
    }

    & [style], style, [class=""], [id=""], a[href="#"] {
      background: rgba(yellow, .2);
      border: 1px solid gold;
    }
  }
}
